/* GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
}
.container-header { 
    max-width: 80%;
    margin: 0 auto;
}
.container-main {
    max-width: 73%;
    margin: 0 auto;
    /* Debug */
    background-color: yellowgreen;
}
/* HEADER */
.intestazione {
    display: flex;
    width: 100%; 
    /* debug */
    background-color: rgb(117, 112, 112);
    height: 60px;
}
.box-intestazione {
    width: 50%;
    /* Debug */
    height: 60px;
    background-color: blueviolet;
    border-style: dashed;
}
.jumbo-container {
    width: 100%;
    height: 500px;
    background-color: #B4D0E7;
}
header h1 {
    font-size: 58px;
    padding-top: 40px;
}
.jumbo-testo {
    width: 30%;
    /* Debug */
    height: 300px;
    background-color: burlywood;
    border-style: dashed;

}
.jumbo-img {
    width: 70%;
    /* Debug */
    height: 300px;
    background-color: burlywood;
    border-style: dashed;
}
.box-jumbo {
    display: flex;
    margin-bottom: 20px;
    
}
.linea-fine-header {
    border-bottom: 1px solid black;
    padding-bottom: 60px;
}
/* MAIN */
.colonne-piani {
    display: flex;
    gap: 10px;
}

.piani {
    width: calc(100% / 3);

    /* Debug */
    height: 550px;
    background-color: brown;
    border-style: dashed;
}
.enterprise {
    margin-top: 150px;
    width: 100%;
    /* Debug */
    height: 250px;
    border-style: dashed;
    background-color: brown;
}
.tipo-piano {
    width: 100%;
    /* Debug */
    border-style: dashed;
    height: 70px;

    
}