/* GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
}
.container-header { 
    max-width: 80%;
    margin: 0 auto;
}
.container-main {
    max-width: 73%;
    margin: 0 auto;
    margin-top: 25px;
    /* Debug */
/*     background-color: yellowgreen; */
}
.button {
    background-color: #0062FE;
    color: white;
    padding: 7px;
    text-align: center;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.container-main:first-child {
    margin-top: 50px;
    margin-bottom: 40px;
}
.check-box {
    margin-top: 25px;
    margin-bottom: 25px;
}
/* HEADER */
.logo {
    width: 30%;
    height: 75%;
}
.intestazione {
    display: flex;
    justify-content: space-between;
    width: 100%; 
}
.box-intestazione {
    padding-bottom: 15px;
    padding-top: 15px;
    position: relative;
    width: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.contenuto-destro-intest {
    position: absolute;
    right: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.box-intestazione span {
    gap: 10px;

}
/* JUMBO */
.button.jumbo {
    margin-top: 30px;
    margin-bottom: 40px;
}
.fa-arrow-down {
    font-size: 45px;
}
.jumbo-container {
    background-color: #B4D0E7;
    height: 555px;
}
header h1 {
    font-size: 61px;
    padding-top: 50px;
    margin-bottom: 15px;
}
.jumbo-immagine {
    width: 100%;
}
.jumbo-testo {
    width: 30%;
    font-size: 17px;

}
.jumbo-img {
    width: 70%;
}
.box-jumbo {
    display: flex;
    margin-bottom: 20px;
    
}
.linea-fine-header {
    border-bottom: 1px solid grey;
    padding-bottom: 90px;
}

/* MAIN */
.colonne-piani {
    display: flex;
    align-items: stretch;
    gap: 10px;
}
.descrizione-piani > ul {
    margin-top: 30px;
    margin-bottom: 45px;
}
.descrizione-piani > ul > li {
    padding-bottom: 25px;
}
.piani {
    width: calc(100% / 3);
    border: 1px solid gray;
}
.descrizione-piani {
    padding-top: 15px;
    padding-left:  15px;
    border: 1 solid gray;
}
.tipo-piano {
    width: 100%;
    text-align: center;
    padding: 8px;
    border: 1px solid gray;
}
.descrizione-piani > div {
    margin-top: 25px;
    margin-bottom: 45px;
}
.tempo-piano {
    color: gray;
}
 .posizione-button {
    display: flex;
    justify-content: center;
 }
.riga-grigia{
    border-bottom: 1px solid grey;
    width: 20%;
}
.box-enterprise {
    border: 1 solid gray;
}
.enterprise {
    margin-top: 150px;
    width: 100%;
    position: relative;
    border: 1 solid gray;
}
.enterprise .button {
    position: absolute;
    right: 10px;
    top: 55px;
}
.enterprise p {
    padding-top: 70px;
    padding-bottom: 15px;
}
.partner-img {
    width: 60%;
     /*  Debug */
/*      height: 400px;
     background-color: blueviolet;
     border-style: dashed; */
}
.img-partner {
    width: 100%;
}
.partner-testo {
    width: 40%;
    /* Debug */
/*     height: 400px;
    background-color: blueviolet;
    border-style: dashed; */
}
.partner-testo > div {
    padding-top: 35px;
    padding-left: 20px;
}
.button.partner {
    color: black;
    background-color: rgb(179, 164, 164);
    border: 1 solid black;
}
.box-partner-dropbox {
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
}
.operazioni {
    /* debug */
    background-color: blue;
    height: 350px;
    border-style: dashed;
}
.colonne-operazioni {
    width: calc((100% / 3) - (20px / 3));
}
.linea {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.finale-main > section {
    width: 100%;
    margin-top: 150px;
    /* debug */
    background-color: blue;
    border-style: dashed;
    height: 300px;
}

/* FOOTER */ 
footer {
    margin-top: 150px;
    background-color: black;
    color: white;
    width: 100%;
    min-height: 300px;
    position: relative;
}
.lista-info-finali {
    margin-top: 20px;
    display: flex;
    justify-content: end;
    gap: 14px;
}
.colonne-info {
        width: calc((85% / 5) - (40px / 5));
}
.lista-info {
    /* debug */
    border-style: dashed;
    background-color: blueviolet;
    height: 200px ;
}
.lingua {
    border-top: 1 solid white;
    padding: 10px;
    position: absolute;
    left: 150px;
    bottom: 20px;
}