/* GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
}
.container-header { 
    max-width: 80%;
    margin: 0 auto;
}
.container-main {
    max-width: 70%;
    margin: 0 auto;
}
/* HEADER */
